.search-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  
  .job-link {
    text-decoration: none;
    color: black;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    color: #f5f7fa;
    background: #1D3557;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .card:hover {
    background: #f5f7fa;
  }
  
  .title {
    font-weight: bold;
  }
  
  .snippet {
    color: #95979a;
  }
  
  .search-page-form {
    position: fixed;
    top: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    flex-direction: column;
    margin: auto;
    background: #1D3557;
    padding: 30px;
    width: 80%;
    max-width: 1300px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .search-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 30px;
  }
  
  .search-page-title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  
  .search-page-underline {
    width: 70px;
    height: 4px;
    background: #E63946;
    border-radius: 2px;
  }
  
  .search-page-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-page-input {
    flex: 1;
    margin-right: 15px;
  }
  
  .input {
    display: flex;
    align-items: center;
  }
  
  .input img.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .input-field {
    flex: 1;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .search-page-submit-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .search-page-submit-btn {
    width: 200px;
    height: 45px;
    background: #E63946;
    color: #F1FAEE;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    border: none !important;
    cursor: pointer;
  }
  
  .search-page-submit-btn:hover {
    background: #F1FAEE;
    color: #000000;
  }
  
  .search-page-results {
    margin-top: 300px;
    width: 120%;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    padding-bottom: 20px;
  }