.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px; 
    background: #1D3557;
    padding: 30px; 
    width: 90%; 
    max-width: 600px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
    width: 100%;
    margin-top: 20px; 
  }
  
  .text {
    color: #FFFFFF; 
    font-size: 42px; 
    font-weight: 600; 
    text-align: center;
  }
  
  .underline {
    width: 70px; 
    height: 4px; 
    background: #E63946; 
    border-radius: 2px;
  }
  
  .inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%; 
    max-width: 480px; 
    padding: 15px; 
    background: #eef2f7; 
    border-radius: 8px; 
  }
  
  .input img {
    margin: 0 15px; 
  }
  
  .input input {
    width: calc(100% - 60px); 
    height: 40px; 
    border: 2px solid #ccc;
    background: #fff; 
    font-size: 18px; 
    color: #34495e;
    padding-left: 10px; 
  }
  
  .forgot-password {
    margin: 20px auto;
    font-size: 16px;
    color: #7f8c8d; 
    text-align: center; 
  }
  
  .forgot-password span {
    color: #3498db; 
    text-decoration: underline; 
    cursor: pointer;
  }
  
  .submit-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin: 40px auto; 
  }

  .submit.submit {
  border-radius: 30px !important;
  font-family: sans-serif !important;
}

  .submit {
    display: flex;
    width: 200px; 
    height: 50px;
    background: #F1FAEE;
    color: #000000;
    justify-content: center;
    font-size: 17px; 
    border-radius: 30px; 
    cursor: pointer;
    align-items: center;
    width: 220px;
    height: 60px;
    font-size: 19px;
    font-weight: 700;
    border: none !important;
  }
  
  .submit:hover {
    background: #E63946;
    color: #F1FAEE;
  }
  
  .gray {
    background: #F1FAEE;
    color: #000000;
  }

  