/api/web_scraping/api_keys.json
/web_scraping/jobs/jooble_response.json
/web_scraping/jobs/usajobs_response.json
test_jobs.csv
cleaned_test_jobs.csv
/api/matching/GoogleNews-vectors-negative300.bin
/api/matching/pickled_word2vec.pkl
