.main-header {
  position: sticky;
  top: 0;
  z-index: 3;
}

h1 {
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.settings-icon {
    color: #ffffff !important;
    font-size: 50px !important;
    cursor: pointer;
}

.search-icon {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

