.step {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 16px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.step.completed {
  background-color: #3498db;
  transform: scale(1.1);
}

.custom-submit-btn {
  width: 220px;
  height: 60px;
  background: #3498db;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.custom-submit-btn:hover {
  background-color: #2980b9;
}

.custom-submit-btn.gray {
  background: #bdc3c7;
  color: #2c3e50;
}

