.progress-bar-container {
  padding: 30px;
  align-items: center;
  
}

.step {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 16px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.step.completed {
  background-color: #3498db;
  transform: scale(1.1);
}
