.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.regular-button {
  display: flex;
  width: 200px; 
  height: 50px;
  background: #3498db;
  color: #fff;
  justify-content: center;
  font-size: 17px; 
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  width: 220px;
  height: 60px;
  font-size: 19px;
  font-weight: 700;
  border: none !important;
}

.custom-submit-btn {
  width: 220px;
  height: 60px;
  background: #3498db;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.custom-submit-btn:hover {
  background-color: #2980b9;
}

.custom-submit-btn.gray {
  background: #bdc3c7;
  color: #2c3e50;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  background: #f5f7fa;
  padding: 30px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  justify-content: center; 
  gap: 20px; 
  margin: 40px auto; 
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

.title-text {
  color: #2c3e50;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.title-underline {
  width: 70px;
  height: 4px;
  background: #3498db;
  border-radius: 2px;
}

.search-inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 480px;
  background: #eef2f7;
  border-radius: 8px;
}

.search-input input {
  width: calc(100% - 60px);
  height: 40px;
  border: 2px solid #ccc;
  background: #fff;
  font-size: 18px;
  color: #34495e;
  padding-left: 10px;
}

.submit-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin: 40px auto; 
}

.search-submit-btn {
  background: #3498db;
  color: #fff;
  justify-content: center;
  font-size: 19px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  width: 220px;
  height: 60px;
  font-weight: 700;
  border: none !important;
}

.search-submit-btn:hover {
  background-color: #2980b9;
}

.search-submit-btn.gray {
  background: #bdc3c7;
  color: #2c3e50;
}

.form-inputs {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 480px;
  gap: 10px;
}

.form-group label {
  font-size: 16px;
  color: #34495e;
  margin-bottom: 5px;
}

.form-group input {
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
  color: #34495e;
  padding-left: 10px;

  box-sizing: border-box; 
}

.form-group input:focus {
  border-color: #3498db;
  outline: none; 
}

.form-group select {
  width: 100%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: #fff;
  font-size: 18px;
  color: #34495e;
  padding-left: 10px; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  background-repeat: no-repeat;
  background-position: right 10px center;
  box-sizing: border-box; 
}

.form-group select:focus {
  border-color: #3498db;
  outline: none;
}

.container-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.file-display, .dropzone {
  padding: 30px;
  border: 2px dashed #ccc;
  border-radius: 8px;
}

.file-display {
  width: 75%; 
}

.button-primary {
  background-color: #3498db;
  color: white;
}

.button-secondary {
  background-color: #95a5a6;
  color: white;
}

.file-submit-button {
  width: 125px;
  height: 45px;
  background-color: #E63946;
  color: #F1FAEE;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px; 
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

.file-submit-button:hover {
  background: #ac3741;
  color: #F1FAEE;
}

ul {
  list-style-type: none;
}

.dropzone {
  padding: 20px;
  border: 2px dashed #E63946;
  background-color: #1D3557;
  color: #F1FAEE;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.dropzone:hover {
  background-color: #15537a;
}

.dropzone p, .dropzone p.file-loaded {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}